.about__container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 5% 10%;
}

.about__description {
  text-align: center;
  margin: 0;
}

.about__section-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {
  .about__section-container {
    flex-direction: column;
  }
}

.about__section-content h3,
.about__section-content p {
  margin: 0;
}

.about__section-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 20;
  white-space: pre-line;
  width: 100%;
}

.about__img {
  background: url('/assets/helene-portrait.webp') center/cover no-repeat;
  height: 4em;
  width: 4em;
}
