.create-new-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.create-new-form h1 {
  margin-bottom: 0px;
}

.form {
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}

@media (min-width: 800px) {
  .form .text-input,
  .form .select-container,
  .form .autocomplete,
  .form .select-with-tags,
  .form .multi-select-input {
    width: 70%;
  }
}
