.labelled-input {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 6px;
  width: 100%;
}

.text-input input {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--c-green-300);
  border-radius: 4px;
}

.text-input_error input {
  border-color: var(--c-red-opacity-50);
  color: var(--c-red-opacity-50);
}

.text-input_error input::placeholder {
  color: var(--c-red-opacity-50);
}

.input-hint {
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  color: var(--c-green-300);
}

.text-input_error .input-hint {
  color: var(--c-red-opacity-50);
}

.input-hint__error {
  color: var(--c-red-opacity-50);
}

.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}

button:disabled {
  cursor: not-allowed;
}

.button-primary {
  background-color: black;
}

.button-secondary {
  background-color: var(--c-green-200);
}

.button-tertiary {
  background-color: var(--c-green-300);
}

.select-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  gap: 6px;
}

.select-container select {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--c-green-300);
  border-radius: 4px;
}

.location-autocomplete {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.autocomplete {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: bold;
  gap: 6px;
}

.autocomplete input {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border: 1px solid var(--c-green-300);
  border-radius: 4px;
}

.autocomplete-list {
  padding: 0px;
  list-style: none;
  font-weight: normal;
  margin: 0px;
}

.autocomplete-list li {
  border-color: var(--c-green-300);
  color: var(--c-green-300);
}

fieldset {
  border: none;
  padding: 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
}

fieldset legend {
  padding: 6px 0;
}

.select-tags {
  list-style: none;
  padding: 0px;
  display: flex;
  gap: 6px;
}

.tag {
  padding: 6px;
  font-weight: 700;
  line-height: 9px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
}

.tag__selected {
  background-color: var(--c-green-200);
  color: white;
}

.date-time-picker-container {
  display: flex;
  gap: 6px;
}

.date-time-picker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
}

.date-time-picker--input {
  border: 1px solid #7c847c;
  border-radius: 4px;
  padding: 6px;
  min-height: 20px;
  display: flex;
  align-items: center;
}

.select-with-tags {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
}

.select-with-tags ul {
  margin: 0;
}

.counter-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: bold;
}

.counter {
  display: flex;
}

.counter input {
  border: none;
  padding: 0px;
  width: fit-content;
  text-align: center;
}

.counter-button {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: inherit;
  border-radius: 50%;
}

.multi-select-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.multi-select-dropdown__input {
  border: 1px solid;
  border-radius: 100px;
  padding: 8px 16px;
  min-height: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-weight: bold;
  gap: 6px;
  justify-content: space-between;
  font-size: 12px;
}

.multi-select-dropdown__input-hasValue {
  border-color: #0a0d77;
  color: #0a0d77;
}

.multi-select-dropdown__arrow-open {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.multi-select-dropdown__tag-container {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.multi-select-dropdown__tag {
  background-color: #e3f0fb;
  color: #0a0d77;
  border-radius: 100px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
  white-space: nowrap;
  font-size: 10px;
}

.multi-select-dropdown__tag-button {
  margin-left: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  display: flex;
  align-items: center;
}

.multi-select-dropdown__list-container {
  max-height: 260px;
  overflow-y: auto;
  background-color: white;
  border-radius: 3px;
  z-index: 10;
  box-shadow: 0 2px 10px 0 #c7c7c7;
  margin-top: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.floating {
  position: fixed;
}

.multi-select-dropdown__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.multi-select-dropdown__list-item {
  padding: 8px 0px;
  cursor: pointer;
  background-color: white;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  gap: 6px;
  align-items: center;
}

.radio-button__container {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #0a0d77;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-button__selected {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #0a0d77;
}

.edit-ctas {
  margin-top: auto;
  width: 100%;
  display: flex;
  gap: 12px;
}

@media (max-width: 800px) {
  .edit-ctas {
    flex-direction: column;
  }
}
