html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --c-green-100: #a3cb44;
  --c-green-200: #1d652d;
  --c-green-300: #7c847c;
  --c-red: #ff0000;
  --c-red-opacity-50: rgba(255, 0, 0, 0.5);
}

* {
  font-family: system-ui, sans-serif;
}

.full-width {
  width: 100%;
}

.image-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url('/assets/trashquest_bg.webp') center/cover no-repeat;
}

.welcome__description {
  text-align: center;
}

.top-bar {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.content {
  height: calc(100% - 60px);
}

.language-switch__container {
  display: flex;
  gap: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.autocomplete-item {
  border-bottom: 1px solid;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.two-columns-layout--wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column-layout__left {
  flex-grow: 1;
  position: relative;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  max-width: 50%;
  background-color: var(--color-grey01);
  box-shadow: var(--box-shadow-right);
}

.column-layout__right {
  flex-grow: 1;
}
