html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --c-green-100: #a3cb44;
  --c-green-200: #1d652d;
  --c-green-300: #7c847c;
  --c-red: #ff0000;
  --c-red-opacity-50: rgba(255, 0, 0, 0.5);
}

* {
  font-family: system-ui, sans-serif;
}

.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

.image-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: url('/assets/trashquest_bg.webp') center/cover no-repeat;
}

.top-bar {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(29, 101, 45, 0.1);
}

.top-bar a {
  all: unset;
  cursor: pointer;
}

.top-bar__nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

.top-bar__utils {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.logout {
  height: 100%;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: var(--c-green-300);
  padding: 6px 12px;
  border-radius: 25px;
  color: white;
}

.content {
  flex-grow: 1;
  overflow-y: hidden;
}

.language-switch__container {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.autocomplete-item {
  border-bottom: 1px solid;
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.two-columns-layout--wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column-layout__left {
  flex-grow: 1;
  position: relative;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  max-width: 60%;
  background-color: var(--color-grey01);
  box-shadow: var(--box-shadow-right);
  overflow-y: auto;
}

.column-layout__right {
  flex-grow: 1;
}

.pill-tag {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background-color: #f0f0f0;
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 50px;
  font-weight: 500;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: fit-content;
}

.pill-tag__positive {
  background-color: var(--c-green-200);
  color: white;
}

.pill-tag svg {
  height: 16px;
  width: 16px;
}

.pill-label {
  display: inline-block;
}

.display-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tag-title {
  background-color: var(--c-green-100);
  color: white;
}

.tag-title__best {
  background-color: #0a0d77;
}
