.quests-filters {
  margin: 10px;
  padding: 10px;
  background-color: var(--c-green-300);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quest-registered {
  text-align: center;
  padding: 10px;
  background-color: var(--c-green-200);
  color: white;
  font-weight: bold;
}
