ul.quests-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .ul.quests-ul {
    flex-direction: row;
  }

  .quests-ul > li {
    width: calc(100% / 2 - 6px);
  }
}

.quests-ul > li {
  padding: 20px;
  box-shadow: 0 2px 10px 0 #c7c7c7;
  box-sizing: border-box;
  border-radius: 6px;
}

.quests-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px 12px;
}

.quests-container h1,
.quests-container h3,
.quests-container h4,
.quests-container h5,
.quests-container p {
  margin: 0;
}

.single-quest-container {
  margin: 0px 0px 24px 0px;
  gap: 20px;
}

.single-quest__banner {
  object-fit: cover;
  height: 30%;
  width: 100%;
}

.single-quest__header {
  padding: 0px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.single-quest__title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}

.single-quest__ctas {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 6px;
}

.single-quest__separator {
  width: 100%;
  border: 0.5px solid black;
}

.single-quest__details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.single-quest__start {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
}

.single-quest__start__past {
  color: var(--c-red);
}

.quests-filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /*  overflow-x: scroll; */
}

.quests-filters__button {
  border-radius: 100px;
  padding: 8px 16px;
  min-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: #fb6e44;
  color: white;
  font-weight: bold;
  font-size: 12px;
  width: fit-content;
  gap: 6px;
  box-sizing: content-box;
}

.quests-filters__container {
  display: flex;
  gap: 10px;
  flex-grow: 1;
  flex-wrap: wrap;
}

.quest-registered {
  text-align: center;
  padding: 10px;
  background-color: var(--c-green-200);
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.quest-list-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.quest-list-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  height: 100%;
}

.quest-list-item__banner {
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.quest-list-item__container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: calc(100% - 24px);
  flex-grow: 1;
}

.quest-list-item__title {
  flex-grow: 1;
}

.quest-list-item__properties-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-grow: 1;
  align-content: flex-end;
}

.quest-list-item__footer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.quest-list-item__footer .quest-list-item__footer-details {
  flex-grow: 1;
}

.quest-list-item__footer-details {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px;
  gap: 10px;
  border: 1px solid black;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
}

.quest-location {
  display: flex;
  align-items: center;
  gap: 6px;
}

.quest-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  height: 62px;
}

.quest-button__icon {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 6px solid white;
  background-color: var(--c-green-200);
  color: white;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

.quest-button__label {
  height: 62px;
  display: flex;
  align-items: center;
  background-color: aquamarine;
  position: absolute;
  left: 40px;
  padding: 0px 15px 0px 35px;
  background: rgba(29, 101, 45, 0.1);
  color: var(--c-green-200);
  border-radius: 3px;
  font-weight: bold;
}

.quest-form__button {
  cursor: pointer;
  width: 70%;
  padding: 0;
  border: unset;
  background-color: unset;
}

.single-quest__field {
  display: flex;
  align-items: center;
  gap: 6px;
}

.my-quests-filters__container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.my-quests-filters {
  display: flex;
  width: fit-content;
  padding: 12px;
  gap: 6px;
  align-items: center;
  text-decoration: none;
  border-radius: 3px;
  background-color: #e3f0fb;
  color: black;
}

.my-quests-filters.active {
  background-color: #0a0d77;
  color: white;
}

.my-quests-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*     box-shadow: 0 1px 2px var(rgba(0, 0, 0, .2)); */

.tags-list {
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}
