.user-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

@media (min-width: 800px) {
  .user-header {
    flex-direction: row;
    align-items: center;
  }
}
