.welcome-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}

.welcome-container h1,
.welcome-container p {
  margin: 0 24px;
}

.auth-section {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin: 0px 24px;
  padding-top: 24px;
}
