.welcome-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 30px;
  padding: 24px;
}

.welcome-container h1,
.welcome-container p {
  margin: 0px;
}

.auth-section {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  flex-direction: column;
}

@media (min-width: 800px) {
  .auth-section {
    flex-direction: row;
  }
}
